
@font-face {
	font-family: 'AmstelvarAlpha';
	src: url("../fonts/AmstelvarAlpha.woff2") format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'icons';
	src: url('../fonts/icons.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}