
@keyframes position-right {
	0% {
		transform: translate(100%);
	}
	50% {
		transform: translate(0%);
	}
	100% {
		transform: translate(-100%);
	}
}

@keyframes position {
	0%{
		transform: translateX(-100%);
	}
	100%{
		transform: translateX(0%);
	}
}

@keyframes rotate {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: -360deg;
	}
}

@keyframes wing-left {
	0% {
		rotate: -60deg;
	}
	100% {
		rotate: 40deg;
	}
	
}

@keyframes hide {
	0% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

@keyframes bee-left-1 {
	0% {
		translate: 0;
		left: 0;
		top: 0;
	}
	50% {
		top: 500px;
		left: 500px;
	}
	100% {
		translate: 3000%;
		top: 0;
		right: 0;
	}
}

@keyframes bee-left-3 {
	0% {
		translate: 0;
		left: 0;
		top: 20%;
	}
	30% {
		top: 80%;
		left: 400px;
	}
	100% {
		translate: 3000%;
		top: 200px;
		right: 0;
	}
}

@keyframes bee-left-4 {
	0% {
		translate: 0;
		right: 0;
		top: 30%;
	}
	30% {
		bottom: 0;
		right: 600px;
	}
	100% {
		translate: -5000%;
		top: 200%;
		left: 0;
	}
}

@keyframes bee-left-6 {
	0% {
		translate: 0;
		right: 0;
		top: 60%;
	}
	30% { 
		bottom: 0;
		right: 400px;
	}
	100% {
		translate: -5000%;
		top: 0;
		left: 0;
	}
} 

@keyframes bee-left-7 {
	0% {
		translate: 0;
		left: 0;
		top: 70%;
	}
	30% {
		top: 10%;
		left: 400px;
	}
	100% {
		translate: 3000%;
		top: 100px;
		right: 0;
	}
}

@keyframes bee-left-8 {
	0% {
		translate: 0 ;
		right: 0;
		bottom: 0;
	}
	30% {
		top: 0;
		right: 800px;
	}
	100% {
		translate: -5000%;
		top: 900px;
		left: 0;
	}
}

@keyframes crazy {
	0% {
		rotate: 0deg;
		translate: 0px 0px;
	}
	100% {
		rotate: 360deg;
		translate: 500px 500px;
	}
}