// Для матетатических вычислений
@use "sass:math";
// Подключаем стили обнуления 
@import "_reset.scss";
// Подключаем файл миксинов
@import "_mixins.scss";


// Основные стили 

body {
	font-family: Arial, sans-serif;
	opacity: 0;
}
.loaded {
	opacity: 1;
	transition: 2s;
}
[class*=__container] {
	max-width: toRem(1100);
	margin: 0 auto;
	padding-inline: toRem(15);
	overflow: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.header {
	color: #fff;
	font-size: toRem(32);
	background-color: #000;
	padding-block: toRem(20);
	font-weight: 700;
	position: fixed;
	z-index: 5;
	width: 100%;

	// .header__container
	&__container {
	}

	// .header__title
	&__title {
		text-align: center;
	}
}
pre {
	margin-left: toRem(-600);
}

.page {
	padding-top: toRem(70);
	flex-grow: 1;
	section:not(:last-child) {
		border-bottom: 2px dashed #696868;
	}

	// .page__container
	&__container {
	}

	// .page__text
	&__text {
		text-align: center;
		padding: toRem(15);
		font-size: toRem(18);
		font-weight: 700;
	}
}
.problem {
	padding-block: toRem(20);

	// .problem__title
	&__title {
		padding: toRem(15);
		margin-bottom: toRem(20);
		font-size: toRem(20);
		background: #bcbbbb;
	}

	// .problem__subtitle
	&__subtitle {
		margin-bottom: toRem(10);
	}

	// .problem__list
	&__list {
		margin-bottom: toRem(10);
		& li:not(:last-child) {
			margin-bottom: toRem(5);
		}
	}

	// .problem__answer
	&__answer {
		font-size: toRem(18);
		line-height: 1.4;
		background: #c5cbed;
		padding: toRem(15);
		// opacity: 0.1;
		// transform: translateX(-80%);
		// transition: all 1s;
	}
}

a.item {
	font-size: toRem(36);
	background-color: #7d80cf;
	padding: toRem(5) toRem(10);
	border-radius: toRem(10);
}

.footer {
	text-align: center;
	font-size: toRem(14);
	color: #fff;
	background-color: #000;
	padding-block: toRem(15);
	font-weight: 700;
	transition: 0.5s;
	// .footer__container
	&__container {
	}

	// .footer__logo
	&__logo {
	}
}
.background {
	background-color: #454894;
}
.count {
	background-color: #7d80cf;
	width: toRem(250);
	height: toRem(200);
	border-radius: toRem(10);
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: toRem(80);
	border: 2px solid #454894;
}
// .animate {
// 	opacity: 1;
// 	transform: translateX(0);
// }