/* Подключаем шрифты Google */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
/* Локальное подключение шрифтов */
@import url("fonts.css");
/* Подключаем стили обнуления */
@import url("reset.css");

/* Основные стили */

/* -------------------------- Header -------------------- */
.header {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-size: 24px;
	background: #ec9c2c;
}
.header__container {
	margin: 0px auto;
	padding: 20px 0px;
}
.header-title {
	font-size: 38px;
	font-weight: 700;
	text-shadow: 10px 10px 5px #796969;
	margin: 0px 0px 20px 0px ;
}
.header-list > li {
	font-weight: 500;
	margin: 0px 0px 20px 0px;
}
.header-list a {
	text-decoration: underline;
	text-shadow: 2px 2px 5px #db712f;
}
/* ----------------------- main ------------------------- */

/* ------------------------train-------------------------- */
.train {
	font-family: Quicksand, sans-serif;
	background: #fbf8e3a6;
}
.train-container {
	max-width: 1440px;
	margin: 0 auto;
	padding: 30px 15px;
}
.subtitle.center {
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.train-box {
	margin: 0px 0px 50px 0px;
}
.train-cards {
	margin: 0 -20px;
	font-size: 0;
}
.train-card {
	display: inline-block;
	max-width: 33%;
	padding: 15px 20px;
	border: 2px solid #f76116;
	font-size: 16px;
	margin: 2px;
	vertical-align: top;
	background:url("../img/bg_figure.png") center /50% 100% no-repeat,
	radial-gradient(circle, rgba(239, 239, 83, 0.395) 35%, rgba(107, 217, 66, 0.513) 100%)
	#e0e8ca;
	border-radius: 0px 50px;
}
.train-card.train-card-first {
	border-top: 8px dotted #3e892e;
	box-shadow: -15px 10px 5px 30px rgba(95, 94, 93, 0.302);
}
.train-card.train-card-second {
	border: 4px dashed #ec9c2c;
	border-radius: 80px 0px;
	background: rgb(251,137,6);
	background: linear-gradient(90deg, rgba(251,137,6,1) 59%, rgba(246,169,2,0) 100%);
}
.train-card.train-card-second a {
	opacity: 0.7;
}
.train-card.train-card-third {
	border-radius: 0;
	outline: 10px solid grey;
	box-shadow: inset 10px 10px 30px 10px rgba(95, 94, 93, 0.302);
}
.train-content {
	text-align: center;
	line-height: 1.2;
}
.train-label {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 20px;
	margin: 0px 0px 15px 0px;
}
.train-text {
	margin: 0px 0px 15px 0px;
}
.train-link a {
	padding: 10px 20px;
	background-color: #f76116;
	display: inline-block;
	color: #fff;
}
.train-image-box {
	padding: 20px;
}
.train-image {
	border: 1px solid rgba(43, 26, 24, 0.155);
	border-radius: 35px;
	width: 1070px;
	height: 380px;
}
.train-image img {
	width: 100%;
	height: 100%;
	border-radius: 35px;
	box-shadow: 10px 10px 30px 10px rgba(95, 94, 93, 0.302);
	margin-left: -10px;
	margin-top: -10px;
}

/* ---------------------------- Макет №1 ------------------------- */

.layot-1 {
	color: #2b2929;
	font-family: "Proxima Nova",sans-serif;
}
.container-layot-1 {
	max-width: 1100px;
	margin: 0 auto;
	padding: 70px 15px 30px 15px;
}
.img {
	width: 100%;
	margin: 0px 0px 40px 0px;
	border-radius: 8px;
}
.subtitle {
	font-size: 40px;
	line-height: 1.2;
	margin: 0px 0px 40px 0px;
}
.content {
	font-size: 16px;
	line-height: 1.875;
}
.under-content {
	margin: 0px 0px 30px 0px;
}
h3.label {
	font-size: 20px;
	line-height: 1.4;
	margin: 0px 0px 30px 0px;
}
p {
	margin: 0px 0px 10px 0px;
}
.list {
	margin: 0px 0px 10px 0px;
}
.list-text {
	padding: 0px 0px 0px 47px;
	margin: 0px 0px 20px 0px;
	background: url("../img/icons/icon.png") 0 2px no-repeat;
	min-height: 30px;
}

/* ------------------------- Макет №2 --------------------- */

.layot-2 {
	font-family: Quicksand, sans-serif;
	color: #ffffff;
	background: url("../img/holographic.png") 0 0 / 100% 100% no-repeat,
	#8B3DFF;
}
.container-layot-2 {
	max-width: 1440px;
	margin: 0 auto;
	overflow: hidden;
	padding: 20px 80px 37px 0px;
	background: url("../img/letters/alphabet.png") 300px -23px / 73% 125% no-repeat,
	url("../img/letters/o.png") 40% 17% no-repeat,
	url("../img/letters/p.png") 50% 40% no-repeat,
	url("../img/bg_figure.png") 82% 75px no-repeat;
}
.block {
	margin: 0px -60px;
}
.block-column {
	display: inline-block;
	max-width: 50%;
	padding: 0px 60px;
	vertical-align: middle;
}
.block-content {
	padding: 20px 10px 0px;
}
.block-title {
	font-size: 40px;
	font-weight: 700;
	line-height: 1.2;
	margin: 0px 0px 24px 0px;
}
.block-text {
	font-size: 20px;
	font-weight: 500;
	line-height: 1.6;
	margin: 0px 0px 24px 0px;
}
.button a {
	color: #0d1216;
	font-weight: 700;
	line-height: 1.56;
	padding: 11.5px 20px;
	background: #fff;
	border-radius: 8px;
}
.button span {
	background: url("../img/icons/icon_button.png") 0 1px / 20px 20px no-repeat;
	padding: 0px 0px 0px 25px;
}
.img-boy {
	max-width: 100%;
}

/* ------------------------ Макет №3 ------------------- */

.layot-3 {
	background:	url("../img/branch.svg") left bottom 20% no-repeat,
	url("../img/branch_2.svg") right no-repeat,
	rgba(30, 40, 50, 0.05);
	font-family: "Roboto",sans-serif;
	text-transform: capitalize;
}
.container-layot-3 {
	max-width: 1320px;
	margin: 0 auto;
}
.block-layot-3 {
	padding: 80px 94px 60px 10px;
	margin: 0 -49px;
}
.block-item {
	max-width: 50%;
	display: inline-block;
	vertical-align: middle;
	margin: 0 49px;
}
.item-content {
	padding: 0px 10px 50px 10px;
}
.item-title {
	font-size: 74px;
	font-weight: 300;
	/* почему-то по макету line-height = 55px??*/
	line-height: 1.2;
	margin: 0px 0px 50px 0px;
}
.item-text {
	font-size: 30px;
	line-height: 1.83;
	margin: 0px 0px 66px 0px;
}
.item-button a {
	color: #fff;	
	font-size: 29px;
	line-height: 1.1;
	background: #000;
	padding: 19px 26px 19px 26px;
}
.item-button span {
	background: url("../img/icons/icon_shop.png") 0 0 no-repeat;
	padding: 0px 0px 0px 38px;
}
.item-image {
	width: 424px;
	height: 542px;
	border: 2px solid rgba(0, 0, 0, 0.25);
	border-radius: 160px 0;
}
.item-image img {
	border-radius: 160px 0;
	height: 100%;
	width: 100%;
	margin-left: -18px;
	margin-top: -20px;
}

/* ------------------ Footer ------------------ */

.footer {
	font-family: Quicksand;
	background: #3c2f2f;;
	color: #ffffff;
	font-size: 24px;
}
.footer-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 50px 15px;
}
.tel {
	text-align: right;
}
.tel-link {
	margin: 0px 0px 20px 0px;
}
