
/* Локальное подключение шрифтов */
@import url("fonts.css");
/* Подключаем стили обнуления */
@import url("reset.css");

/* Основные стили */

body {
	font-family: Roboto, sans-serif;
	font-size: 24px;
}
/* ================Header================= */
.header {
	text-align: center;
	text-transform: uppercase;
}
.title {
	font-size: 38px;
	margin: 0px 0px 10px 0px;
	padding: 10px 0px;
	font-weight: 700;
	background: #ec9c2c;
}
.main-list > li {
	font-weight: 500;
	margin: 0px 0px 20px 0px;
}
.main-list a {
	text-decoration: underline;
}
/* ===============main========================= */
.train {
	background: rgb(243, 243, 139);
	max-width: 1320px;
	margin: 0 auto;
}
.block {
	background: yellowgreen;
	padding: 10%;
	margin: 0px -300px 0px 0px;
}
.inline {
	background: rgb(117, 117, 237);
	margin: 10px;
}
.box {
	margin: -30px 0px 30px -100px;
}
.inline-block {
	max-width: 100%;
	margin: 0px 0px -30px 0px;
}
.block.block-1 {
	padding: 80px 0px 0px 30px;
	height: 150px;
	overflow: auto;
	margin: 0;
}
/* =============== макет №1 ===================*/
.layot-1 {
	padding: 100px 0px;
	background-color: #e1e9ef62;
}
.container-layot-1 {
	max-width: 1320px;
	margin: 0 auto;
}
.big-box {
	overflow: hidden;
}
.mini-title {
	font-size: 50px;
	text-align: center;
	font-weight: 500;
	margin: 0px 0px 48px 0px;
}
.box-images {
	font-size: 0;
	margin: 0px -12px;
}
.box-image {
	font-size: 20px;
	display: inline-block;
	margin: 12px;
}
/* ============== Макет №2 ======================== */
.layot-2,
.layot-3 {
	color: #2b2929;
	font-family: "Proxima Nova",sans-serif;
}
.container-layot-2 {
	max-width: 1100px;
	margin: 0 auto;
	padding: 70px 15px 30px 15px;
}
.img {
	width: 100%;
	margin: 0px 0px 40px 0px;
}
.subtitle {
	font-size: 40px;
	line-height: 1.2;
	margin: 0px 0px 40px 0px;
}
.content-text {
	font-size: 16px;
	line-height: 1.875;
}
.under-content-text {
	margin: 0px 0px 30px 0px;
}
h3.label {
	font-size: 20px;
	line-height: 1.4;
	margin: 0px 0px 30px 0px;
}
p {
	margin: 0px 0px 10px 0px;
}
.list-2 {
	margin: 0px 0px 10px 0px;
}
.link-2 {
	padding: 0px 0px 0px 47px;
	margin: 0px 0px 20px 0px;
}
/* ============= Макет №3 ================== */
.layot-3 {
	background:  #f8f8f8;
}
.container-layot-3 {
	max-width: 1320px;
	margin: 0 auto;
	padding: 70px 15px;
}
.subtitle.center {
	text-align: center;
}
span {
	text-transform: uppercase;
}
.box-columns {
	margin: 40px 0px 0px 0px;
}
.columns {
	margin: 0px -15px;
	font-size: 0;
}
.column {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	padding: 0px 15px;
}
.item {
	text-align: center;
}
.icon {
	margin: 0px 0px 20px 0px;
}
.name {
	font-size: 26px;
	line-height: 1.3;
	margin: 0px 0px 20px 0px;
}
.text {
	font-size: 16px;
	line-height: 1.875;
}
/* ===============Footer=============== */
.footer {
	background: #3c2f2f;;
	color: #ffffff;
}
.footer-container {
	max-width: 1320px;
	margin: 0 auto;
	padding: 50px 15px;
}
.tel {
	margin: 0px 0px 20px 0px;
}
.tel {
	text-align: right;
}
